.comic-panel 
  text-align: center
  padding: 10px  

.footer 
  text-align: center
  font-size: 10px
  line-height: 14px

#panels 
  margin: 0 auto
  width: 650px
 
  div 
    z-index: 11 
    img 
      border-radius: 5px
#panels-paging 
  position: absolute
  top: 85px
  height: 25px
  right: 0
  left: 0
  
  a 
    border-radius: 3px
    background-color: #d0d0d0
    color: white 
    padding: 5px 
    margin-right: 5px
    &.current-slide 
      background-color: #000