.comic
  border: 1px solid #cdc9c9
  border-radius: 5px
  width: 450px
  background: #F4F1F1

.comic, .episode
  margin: 8px
  padding: 10px
  
  h3, h3 a
    color: #8b7d7b
  h3
    font-weight: 500
    a 
      text-decoration: none
      

.comics, #home, #episodes
  ul, ol
    list-style: none
    padding: 0

.comic-panel 
  text-align: center
  padding: 10px  

.footer 
  text-align: center
  font-size: 10px
  line-height: 14px

#panels 
  margin: 0 auto
  width: 650px
 
  div 
    z-index: 11 
    img 
      border-radius: 5px
#panels-paging 
  position: absolute
  top: 85px
  height: 25px
  right: 0
  left: 0
  
  a 
    border-radius: 3px
    background-color: #d0d0d0
    color: white 
    padding: 5px 
    margin-right: 5px
    &.current-slide 
      background-color: #000