
// Main sass style file
// TODO Follow docco documentations
// Add normalizer

@import "bourbon"
@import "comic"
@import "metadata"

body
  margin: 0
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 20px
  color: #333333
  background-color: white

.container
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 665px
  margin: 0 auto

.share-buttons 
  padding-bottom: 25px
  width: 700px

.header 
  display: table
  height: 80px
  width: 100%

.logo 
  display: table-cell
  width: 150px
  padding: 20px

.title 
  display: table-cell
  width: 100%
  vertical-align: bottom
  padding: 20px
  text-align: right

.title h1 
  font-family: 'Bangers', cursive
  color: #d0d0d0
  font-size: 36px
  /* text-shadow: 3px 3px 4px #d0d0d0; */
  text-shadow: -2px 1px #000, 1px 2px #000, 2px 1px #000, 1px -2px #000
